body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #0056b3;
    outline: none;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

button:hover {
    background-color: #0056b3;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e9ecef;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f1f1f1;
}

.completed {
    text-decoration: line-through;
    color: #6c757d;
}
h1{
    color: red;
}